.discuss-content{
    margin-top: 100px;
    margin-left: 150px;
}
.discuss-wrap{
    margin-top: 20px;

    margin-bottom: 20px;
    width: 800px;
    padding:10px;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}
.discuss-wrap_title{
    font-size: 20px;
}

.discuss-wrap_content{
    font-size: 15px;
}

.forum_comment{
    margin-left: 230px;
}

.discuss-title-main{
    margin-left: 20px;
}

