.topbar{
    width: 100%;
    height: 80px;
    background-color: white;
  
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRight{
    display: flex;
}

.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 14px;
    color:#555 ;
}

.space {
    margin-top: 15px;

}

.topIconNoti{
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:3px;
    border: 1px solid #fff;
    right:4px;
    background-color: #3751FF;
    border-radius: 50%;
}

.topbarInfo{
    margin: 10px 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topAvatar{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
   
}

