
.Sidebar{
    height: 100%;
    border-radius: 0 10px 10px 0px;
    width: 500px;
    background-color: #363740;

    

   
}

.SidebarList{
    height: auto;
    padding: 0;
    padding-left: 20px;
    width: 90%;
    margin-top: 50px;
}

.SidebarList .row{
    width: 100%;
    height: 60px;
    opacity: 0.5;
    list-style-type: none;
    margin: 0%;
    display:flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.SidebarList .row:hover{
    cursor: pointer;
    background-color:#1294F2 ;
    opacity: 1;
    border-radius: 30px;
    border-left: 0px solid red;
   
}

.SidebarList .row #active{
    background-color: #293846;

}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}

.info{
   
   
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info-container{
   
    width: 70px;
    height: 70px;
  
    background-color: #fff;
    margin-bottom: 20px;
    
}

.info__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info__name{
    margin-left: 0px;
    font-size: 20px;
    color: white;
}